/node_modules
.DS_Store
.DS_Store?
/unit_test/__snapshots__/
/Adobe After Effects Auto-Save/
/now.json
/impact.aep
/impact.sketch
/impact.framerx
/functions
firebase-debug.log
.firebase/hosting.cHVibGlj.cache
.vscode/launch.json
.jshintrc
/public/bundle.js

